# Configurações do Banco de Dados
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=projectslides
DB_USER=DaviSena
DB_PASS=197508

# Configurações de Segurança (opcional)
APP_ENV=production
APP_DEBUG=false

# Configurações de Cache
CACHE_DRIVER=file
SESSION_DRIVER=file
